*.*
!*.c
!*.cpp
!*.h
!*.S
!*.s
!*.md
!*.sh
!*.py
!*.gn
!*.gni
!*.lds
!Kconfig
!Makefile
!.gitignore
!.vscode/
!.vscode/launch.json
!.vscode/tasks.json
!musl-1.2.3.tar.gz
!musl-1.2.3/
!os/linker.lds_pp

build/config/env.gni
out/*
os/linker.lds
